*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

nav{
    background-color: #1A3C40;
    color: aliceblue;
    height: 80px;
    display:flex;
    justify-content: space-between;   
    align-items: center; 
    padding:0px 50px 0px 100px;
}
nav ul{
    /* text-decoration: none; */
    color: white;
    display:flex;
}
nav ul li{
    list-style:none;
    margin:0 8px;
   
    
}
nav ul li a{
    text-decoration: none;
    color: white;
    list-style:none;
    padding:8px 10px;
    background-color: #1A3C40;
    border-radius: 2px;
    transition: all 0.5s ease;
 }
 nav ul li a:hover{

     background-color: #14ffd41b;    
     
 }

 @media (max-width:940px){

  

 }

 